.App {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.details-bg {
  min-height: 60vh;
}

.main-comp {
  min-height: 100vh;
}

.footer-comp {
  position: sticky;
  top: 100%;
}